<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArthurDriverUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Arthur_Driver_Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArthurDriverUpdater.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="FirstOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="theme" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkText" serializeAs="String">
                <value />
            </setting>
            <setting name="LightBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="LightText" serializeAs="String">
                <value />
            </setting>
            <setting name="First" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstMain" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="windowsStart" serializeAs="String">
                <value />
            </setting>
            <setting name="autoupdate" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePathLigt" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePathDark" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkButtons" serializeAs="String">
                <value />
            </setting>
            <setting name="LightButtons" serializeAs="String">
                <value />
            </setting>
            <setting name="notification" serializeAs="String">
                <value />
            </setting>
            <setting name="alert" serializeAs="String">
                <value />
            </setting>
            <setting name="autoTime" serializeAs="String">
                <value />
            </setting>
        </ArthurDriverUpdater.Properties.Settings>
        <Arthur_Driver_Updater.Properties.Settings>
            <setting name="outrate" serializeAs="String">
                <value />
            </setting>
            <setting name="extension" serializeAs="String">
                <value />
            </setting>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="devices" serializeAs="String">
                <value />
            </setting>
            <setting name="channels" serializeAs="String">
                <value />
            </setting>
            <setting name="confimation" serializeAs="String">
                <value />
            </setting>
            <setting name="openfileafter" serializeAs="String">
                <value />
            </setting>
            <setting name="savepath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="theme" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkText" serializeAs="String">
                <value />
            </setting>
            <setting name="LightBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="LightText" serializeAs="String">
                <value />
            </setting>
            <setting name="VisVisible" serializeAs="String">
                <value />
            </setting>
            <setting name="VisQuality" serializeAs="String">
                <value />
            </setting>
            <setting name="VisCount" serializeAs="String">
                <value />
            </setting>
            <setting name="VisSpacing" serializeAs="String">
                <value />
            </setting>
            <setting name="VisColorBase" serializeAs="String">
                <value />
            </setting>
            <setting name="VisColorMax" serializeAs="String">
                <value />
            </setting>
            <setting name="First" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstMain" serializeAs="String">
                <value>0</value>
            </setting>
        </Arthur_Driver_Updater.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="50cebf1cceb9d05e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.5.0" newVersion="0.11.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>